<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>category</key>
		<string>Boxes</string>
		<key>command</key>
		<string>truffleinit</string>
		<key>templates</key>
		<array>
			<dict>
				<key>name</key>
				<string>Tutorial Token</string>
				<key>templateName</key>
				<string>tutorialtoken</string>
				<key>imageName</key>
				<string>Box</string>
				<key>standard</key>
				<string></string>
				<key>description</key>
				<string>ERC-20 is a technical standard used for smart contracts on the Ethereum blockchain for implementing tokens</string>
				<key>moreInfoUrl</key>
				<string>https://truffleframework.com/tutorials/robust-smart-contracts-with-openzeppelin</string>
				<key>openFile</key>
				<string>contracts/TutorialToken.sol</string>
				<key>copyFiles</key>
				<array>
					<dict>
						<key>filename</key>
						<string>TutorialToken.sol</string>
						<key>destination</key>
						<string>contracts</string>
						<key>renameFileToProjectName</key>
						<false/>
					</dict>
					<dict>
						<key>filename</key>
						<string>2_deploy_contracts.js</string>
						<key>destination</key>
						<string>migrations</string>
						<key>renameFileToProjectName</key>
						<false/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
