<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ethereum</key>
	<dict>
		<key>etherlime</key>
		<dict>
			<key>0.9.6</key>
			<dict>
				<key>commands</key>
				<dict>
					<key>run</key>
					<dict>
						<key>cmd</key>
						<string></string>
						<key>target</key>
						<string></string>
						<key>args</key>
						<array>
							<string></string>
						</array>
						<key>workingDirectory</key>
						<string></string>
						<key>env</key>
						<array/>
						<key>outputFile</key>
						<string></string>
						<key>errorMatch</key>
						<array/>
						<key>warningMatch</key>
						<string></string>
						<key>keyMap</key>
						<string></string>
						<key>commandName</key>
						<string></string>
					</dict>
					<key>lint</key>
					<dict>
						<key>framework</key>
						<string>etherlime</string>
						<key>version</key>
						<string>0.9.0</string>
						<key>cmd</key>
						<string></string>
						<key>target</key>
						<string></string>
						<key>args</key>
						<array>
							<string></string>
						</array>
						<key>workingDirectory</key>
						<string></string>
						<key>env</key>
						<array/>
						<key>outputFile</key>
						<string></string>
						<key>errorMatch</key>
						<array/>
						<key>warningMatch</key>
						<string></string>
						<key>keyMap</key>
						<string></string>
						<key>commandName</key>
						<string></string>
					</dict>
				</dict>
			</dict>
			<key>0.9.5</key>
			<dict>
				<key>commands</key>
				<dict>
					<key>run</key>
					<dict>
						<key>cmd</key>
						<string></string>
						<key>target</key>
						<string></string>
						<key>args</key>
						<array>
							<string></string>
						</array>
						<key>workingDirectory</key>
						<string></string>
						<key>env</key>
						<array/>
						<key>outputFile</key>
						<string></string>
						<key>errorMatch</key>
						<array/>
						<key>warningMatch</key>
						<string></string>
						<key>keyMap</key>
						<string></string>
						<key>commandName</key>
						<string></string>
					</dict>
					<key>lint</key>
					<dict>
						<key>framework</key>
						<string>etherlime</string>
						<key>version</key>
						<string>0.9.0</string>
						<key>cmd</key>
						<string></string>
						<key>target</key>
						<string></string>
						<key>args</key>
						<array>
							<string></string>
						</array>
						<key>workingDirectory</key>
						<string></string>
						<key>env</key>
						<array/>
						<key>outputFile</key>
						<string></string>
						<key>errorMatch</key>
						<array/>
						<key>warningMatch</key>
						<string></string>
						<key>keyMap</key>
						<string></string>
						<key>commandName</key>
						<string></string>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>truffle</key>
		<dict>
			<key>4.1.14</key>
			<dict>
				<key>commands</key>
				<dict>
					<key>run</key>
					<dict>
						<key>cmd</key>
						<string></string>
						<key>target</key>
						<string></string>
						<key>args</key>
						<array>
							<string></string>
						</array>
						<key>workingDirectory</key>
						<string></string>
						<key>env</key>
						<array/>
						<key>outputFile</key>
						<string></string>
						<key>errorMatch</key>
						<array/>
						<key>warningMatch</key>
						<string></string>
						<key>keyMap</key>
						<string></string>
						<key>commandName</key>
						<string></string>
					</dict>
					<key>lint</key>
					<dict>
						<key>framework</key>
						<string>etherlime</string>
						<key>version</key>
						<string>0.9.0</string>
						<key>cmd</key>
						<string></string>
						<key>target</key>
						<string></string>
						<key>args</key>
						<array>
							<string></string>
						</array>
						<key>workingDirectory</key>
						<string></string>
						<key>env</key>
						<array/>
						<key>outputFile</key>
						<string></string>
						<key>errorMatch</key>
						<array/>
						<key>warningMatch</key>
						<string></string>
						<key>keyMap</key>
						<string></string>
						<key>commandName</key>
						<string></string>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
